@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');

body {
    padding: 20px;
    font-family: 'Nanum Myeongjo', serif;
    background: #e5e5e5;
    color: rgb(28, 28, 28);
}

h1 {
    margin-top: 64px;
    margin-bottom: 16px;
}

.nav-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 16px;
}

.nav-list {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-between;
    padding-inline-start: 12px;
}

.nav-item {
  padding: 2px;
  margin-left: 12px;
}

.logo {
  width: 20px;
}

.list-item {
  margin-bottom: 4px;
}

.ordered-list > li::marker {
  color: #a1a1a1;
  font-size: 1rem;
}